.p5Canvas {
    width:100%
}

#radiusController {
    margin-bottom: 30px;
}

#densityController {
    margin-bottom: 30px;
}

#fontSizeController {
    margin-bottom: 30px;
}

#inputBoxController {
    margin-bottom: 30px;
}
